body {
  background-color: #cea867;
}
header nav {
  padding-top: 20px;
  text-align: right;
  text-decoration: underline;
}
header a {
  padding: 0 20px 10px 20px;
  color: #a23019;
}
.title {
  color: #a23019;
  font-family: 'Lilita One', cursive;
}
.landing {
  border: 3px solid black;
}
