body {
  background-color: #cea867;
}
/* CSS for App.js */
header nav {
  padding-top: 20px;
  text-align: right;
  text-decoration: underline;
}
header a {
  padding: 0 20px 10px 20px;
  color: #a23019;
}
.title {
  color: #a23019;
  font-family: 'Lilita One', cursive;
  font-size: 70px;
  text-align: center;
}
/* CSS for Landing.js */
.landing h1 {
  color: #43312b;
  font-family: 'Racing Sans One', cursive;
  font-size: 60px;
  margin: auto;
  text-align: center;
}
.ion-md-musical-notes, .ion-md-phone-portrait, .ion-md-wifi {
  color: #9b6a3f;
  font-size: 64px;
}
.point {
  float: left;
  padding-top: 25px;
  text-align: center;
  width: 30%;
}
.point-title {
  color: #9b6a3f;
  font-family: 'Lilita One', cursive;
}
.point-description {
  padding-top: 10px;
}
/* CSS for library.js */
.album-information {
  display: inline-flex;
}
.library img {
  border: 2px solid #43312b;
  display: block;
  margin: auto;
  width: 75%;

}
.albumTitle {
  color: #43312b;
  font-family: 'Lilita One', cursive;
  font-size: 30px;
  text-align: center;
}
.albumArtist, .albumlength {
  color: #9b6a3f;
  text-align: center;
}
/* CSS for album.js */
#album-cover-art {
  width: 250px;
}
.album-details {
color: #43312b;
text-align: center;
}
#album-title {
  font-family: 'Lilita One', cursive;
  font-size: 45px;
}

table {
  margin: auto;
  text-align: center;
  width: 20%;
}
/* CSS for player bar */
.player-bar {
  margin: auto;
  padding-top: 20px;
  text-align: center;
  width: 65%;
}
#time-control, #volume-control  {
  display: inline-flex;
  margin-top: 20px;
}

.current-time, .ion-md-volume-low {
  padding-right: 10px;
}
.total-time, .ion-md-volume-high {
  padding-left: 10px;
}
